@model Asobu.ViewModels.Games.GameFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var header = Model.Game != null ? ("Edit: " + Model.Game.Title) : "New Game";
}

<h2>@header</h2>

@using (Html.BeginForm("Save", "Games"))
{
    @Html.HiddenFor(m => m.Game.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Game.Title)
        @Html.TextBoxFor(m => m.Game.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Game.ReleaseDate)
        @Html.TextBoxFor(m => m.Game.ReleaseDate, "{0: dd/MM/yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Game.DateAdded)
        @Html.TextBoxFor(m => m.Game.DateAdded, "{0: dd/MM/yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Game.GenreId)
        @Html.DropDownListFor(m => m.Game.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
