@model Asobu.ViewModels.Players.PlayerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var header = "New Player";

    if (Model.Player != null)
    {
        header = "Edit: " + Model.Player.Username;
    }
}

<h2>@header</h2>

@using (Html.BeginForm("Save", "Players"))
{
    @Html.HiddenFor(m => m.Player.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Player.Username)
        @Html.TextBoxFor(m => m.Player.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Player.Birthdate)
        @Html.TextBoxFor(m => m.Player.Birthdate, "{0: dd/MM/yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Player.MembershipTypeId)
        @Html.DropDownListFor(m => m.Player.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Player.IsSubscribedToNewsletter) Suscribe to Newsletter
        </label>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
}

